<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935245512323-fidpcthr67dgteghltsqlrv4ihmklcmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935245512323-fidpcthr67dgteghltsqlrv4ihmklcmh</string>
	<key>API_KEY</key>
	<string>AIzaSyBEQa4yWV05xtObl4C_7a-r8_zBEQBdKvc</string>
	<key>GCM_SENDER_ID</key>
	<string>935245512323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-db937</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-db937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935245512323:ios:63da597a7dd3a0799ca5b6</string>
</dict>
</plist>